{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "func-names": 0,
    "consistent-return": 0,
    "no-unused-vars": 0
  }
}